
#jb-header div.search {text-align:right;}

#jb-logo {
    background: url("../images/logo.png") no-repeat scroll #193867 50% 10px;
    min-height: 90px;
    width: 100%;
    display: block;
}

.jb-article-icons .actions {
    padding-left: 45px;
}

.jb-article-icons .actions li {
    display: inline;
}

#jb-mainbody .image-left {float: left;margin: 0 15px 5px 0;}
#jb-mainbody .image-right {float: right;margin: 0 0 5px 15px;}
#jb-mainbody img[align=left] {float: left;margin: 0 15px 5px 0;}
#jb-mainbody img[align=right] {float: right;margin: 0 0 5px 15px;}

.jb-article-icons img {
    opacity:0;
}

#jb-sidebar-a .inputbox, .filters .inputbox {
    width: 160px;
}

#jb-footer {
	border-top: 2px solid #050C16;
}	

#jb-footer dl.footer1 {
	margin-top: 18px;
	padding-top: 9px;
	border-top: 1px solid #12619A;
}	

.bannergroup {
	margin: 18px 0;
}

#jb-mainbody article {
   *zoom: 1;
}

#jb-mainbody article:before,
#jb-mainbody article:after {
  display: table;
  content: "";
}

#jb-mainbody article:after {
  clear: both;
}

#overview, #jb-mainbody .jumbotron {
padding: 40px;
}